#
#Fri Jan 08 14:52:27 CST 2010
test.organization=University of Texas
test.transfer.id=4052
test.last.name=Dooley
test.baddn=/C\=US/O\=National Center for Supercomputing Applications/CN\=Patrick Hurley
test.department=TACC
test.dn=/C\=US/O\=National Center for Supercomputing Applications/CN\=Rion Dooley
test.email=dooley@tacc.utexas.edu
test.username=rdoole1
test.first.name=Rion
