local-values.conf
target
*~
bin
*.idea
*.iml
*.eml
.project
.settings
.classpath
.DS_Store
.AppleDouble
.LSOverride
build
Icon
keystore
security/keystore
security/*.*
# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
